{
  "reporter": ["text"],
  "exclude": ["attic/*", "samples/*"],
  "all": true,
  "include": ["src/**/*.js"],
  "check-coverage": true,
  "lines": 50,
  "statements": 50,
  "functions": 50,
  "branches": 50
}
